<!DOCTYPE html>
<html>

<head>
<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Site Metas -->
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Weather How</title>

<!-- slider stylesheet -->
<!-- slider stylesheet -->
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="css_cryptop/home/bootstrap.css" />

<!-- fonts style -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="./css_cryptop/home/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="./css_cryptop/home/responsive.css" rel="stylesheet" />
</head>

<body>
<!-- <div class="hero_area"> -->
    <!-- header section strats -->
    <header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
            <span>
            Weather App
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
                <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" href="/about"> About </a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/how"> How <span class="sr-only">(current)</span></a>
                </li>

                <!-- 로그인시 보여질 내용 -->
                <% if (enter === 1) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather_Fashion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fashiontest"> Fashion style test </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } else { %>
                <!-- 로그아웃된 상태에서 보여질 내용 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                <% } %>

            </ul>
            <div class="user_option">
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
            </div>
            </div>
        </div>
        </nav>
    </div>
    </header>
    <!-- end header section -->

</div>

<!-- how section -->
<section class="how_section layout_padding">
    <div class="heading_container">
    <h2>
        패션의 정석 !!
    </h2>
    </div>
    <div class="how_container">
    <div class="box">
        <div class="img-box">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OHChh-1BDs0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="detail-box">
        
        </div>
        
    </div>
  
    <div class="box">
        <div class="img-box">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DWz1gtnVc1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="detail-box">
       
        </div>
    </div>
    <div class="box">
        <div class="img-box">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vHdR1vnzhWI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="detail-box">
       
        </div>
    </div>
   
    </div>
    <div class="how_container">
        <div class="box">
            
           
            <h1 style="color: black; font-size: 40px;">스타일가이드</h1>
            <p style="color: rgb(73, 56, 56); font-size: 20px;">
                스트릿 브랜드 추천
            </p>
            
        </div>
      
        <div class="box">
            <h1 style="color: black; font-size: 40px;">보라끌레르</h1>
            <p style="color:rgb(73, 56, 56);  font-size: 20px;">
                유행없는 깔끔한 여름 옷 추천(여성)
            </p>
        </div>
        <div class="box">
            <h1 style="color: black; font-size: 40px;">깡 스타일리스트</h1>
            <p style="color: rgb(73, 56, 56); font-size: 20px;">
                5가지 여름옷 추천
            </p>
            

            
        </div>
       
        </div>
   
</section>
<!-- end how section -->


<!-- footer section -->

</body>

</html>